{% extends 'layout.html' %}

{% block content %}

   <div class="form-page">
      {% include "nav.html" %}

      <div class="form">
         <form method='POST' action="">
            {{ registration_form.hidden_tag() }}
            <fieldset>
               <div>
                  {{ registration_form.name.label(class="") }}<br>
                  {{ registration_form.name(class="input") }}
               </div>
               <div>
                  {{ registration_form.email.label(class="") }}<br>
                  {{ registration_form.email(class="input") }}
               </div>
               <div>
                  {{ registration_form.username.label(class="") }}<br>
                  {{ registration_form.username(class="input") }}
               </div>
               <div>
                  {{ registration_form.password.label(class="") }}<br>
                  {{ registration_form.password(class="input") }}
               </div>
               <div>
                  {{ registration_form.password_confirm.label(class="") }}<br>
                  {{ registration_form.password_confirm(class="input") }}
               </div>
            </fieldset>
            <div>
               {{ registration_form.submit(class="main-btn") }}
            </div>
         </form>
      </div>

   </div>


   

{% endblock %}
