{% extends 'layout.html' %}

{% block content %}

      <div class="container">
         {% include "in-nav.html" %}
      </div>

      <div id="map"></div>
      <script>
         L.mapbox.accessToken = 'pk.eyJ1Ijoic2FiZXJkYW5nZXIiLCJhIjoiY2pzZHhnbzY3MGFwazQ0cDRjaWk0MDRwZSJ9.-5E6mGB8ehOgTYDpzJaU9Q';

         var map = L.mapbox.map('map', 'mapbox.streets', {
            scrollWheelZoom: true,
            zoomControl: true,
         }).setView([-1.2825,36.8234], 6);
         
         L.mapbox.featureLayer({{ stop_locations|safe }}).addTo(map);

      </script>


{% endblock %}
