{% extends 'layout.html'%}

{% block content %}
    
    <div id="page">
        <header>
            {% include "nav.html" %}
            <div class="header-text left">
                <h1>Map your favorite<br>places.</h1>
                <p>Know of any interesting places? Share them with us.</p>
                <a href="{{ url_for('auth.register') }}">
                    <button class="main-btn">Sign Up</button>
                </a>
            </div>
            <div class="person right">
                <img src="{{ url_for('static', filename='images/man.png') }}" alt="">
            </div>
        </header>
    </div>

{% endblock %}

